
h1{
    font-style: italic;
    color: blueviolet;
    font-family: "Lucida Console", "Courier New", monospace;
   font-weight: bolder;
}
body{
background-color: darkkhaki;
background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pasta-salad-horizontal-jpg-1522265695.jpg);
}
p{
    font-weight: bolder;
    margin-right: 100px;
  margin-left: 100px;
  background-color: yellow;
  border-radius: 2px solid black;
  
}


img{
    padding: 0px 0px 0px 0px;
    width: 330px;
    height: 220px;
}
ol li{
    list-style-type: none;
    text-align: center;
    font-size: larger;
    font-family: cursive;
    color: red;
    font-weight: bolder;
}
span{
    background-color: gray;
    color: greenyellow;
    font-family: cursive;
    font-size: larger;
}

.Fav-fruits{
    padding: 5px;
    background-color: yellow;
  }

.img-fruits{
    border: 2px solid blue;
}
.benefits{
    border: 5px solid blanchedalmond;
}



.neg-effect{
color: brown;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#fruits-id{
width: 550px;
color: darkblue;
background-color: cornsilk;
}



#mysay{
    width: 300px;
    background-color: lightskyblue;
    border-radius: 80%;
    float: middle;
    font-size: 60px;
}
#Disadvantage{
    text-align: center;
    font-size: 30px;
    color: yellow;

}
#fruits-id-img{
    text-align: center;
    color: blue;
    font-size: 60px;
}
#benefit{
    color: darkblue;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;

}